<%- include('header')-%>
<%- include('navigator') -%>
<!-- About me -->
<section class="fh5co-about-me">
    <div class="about-me-inner site-container">
        
        <article class="portfolio-wrapper">
            
            <div class="portfolio__img">
                <img src="./images/078.jpg" class="about-me__profile" alt="about me profile picture">
            </div>
            <div class="portfolio__bottom">
                <div class="portfolio__name">
                    <span>J</span>
                    <h2 class="universal-h2">ules Lamptey</h2>
                </div>
                <p>Jules Lamptey is a short story author and a novelist.</p>
            </div>
        </article>
        <div class="about-me__text">
            <div class="about-me-slider">
                <div class="about-me-single-slide">
                    <h2 class="universal-h2 universal-h2-bckg">About me</h2>
                    <p><span>T</span>ake a minute to check out my books on Dreame, wattpad and booknet @jules lamptey, @ julamie .</p>
                    <h4>Author</h4>
                    <p class="p-white">Hi, my Name is Jules, a young adult, romance, paranormal and contemporary writer for ten online platforms. Writing is my passion and i make sure it is felt in my works.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-bckg"></div>
</section>
<!-- About me end -->

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>