<!-- Footer -->
<footer class="site-footer">
    <div class="site-container">
        <div class="footer-inner">
            <div class="footer-info">
                <div class="footer-info__right">
                    <h5>Get In Touch</h5>
                    <p class="footer-phone">Phone: +233201076334</p>
                    <p>Email: darkogaucho@gmail.com</p>
                    <div class="social-icons">
                        <a href="#" target="_blank"><img src="./images/social-twitter.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="./images/social-pinterest.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="./images/social-youtube.png" alt="social icon"></a>
                        <a href="#" target="_blank"><img src="./images/social-twitter.png" alt="social icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer end -->