<%- include('header')-%>
<body>

	<%- include('navigator') -%>
	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__image">
				<img src="./images/078.jpg" alt="author image">
			</div>
			<div class="top-banner__text">
				<div class="top-banner__text-up">
					<span class="brand-span">Hello! I'm</span>
					<h2 class="top-banner__h2">Jules</h2>
				</div>
				<div class="top-banner__text-down">
					<h2 class="top-banner__h2">Lamptey</h2>
					<span class="brand-span">Author, Writer, Traveler</span>
				</div>
				<p>One Woman. One Mission. Can She Go Beyond?One Woman. One Mission. Can She Go Beyond?</p>
				<a href="/about" class="brand-button">Read bio </a>
			</div>
		</div>
	</section>
	
	<!-- Top banner end -->

	
	

	

	
	

	
	

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>