<!-- Navigation -->
<nav class="site-navigation">
    <div class="site-navigation-inner site-container">
        <img src="./images/site-logo.png" alt="site logo">
        <div class="main-navigation">
            <ul class="main-navigation__ul">
                <li><a href="/">Homepage</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/testimonies">Testimonies</a></li>
            </ul>
        </div>
        <div id="myBtn" class="burger-container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <script>
            function myFunction(x) {
                x.classList.toggle("change");
            }
        </script>

    </div>
</nav>
<!-- Navigation end -->
