<%-include('header')-%>
<%-include('navigator')-%>
<!-- Quotes -->
<section class="fh5co-quotes">
    <div class="site-container">
        <div class="about-me-slider">
            <div>
                <h2 class="universal-h2 universal-h2-bckg">What People Are Saying</h2>
                <p>“Nice story... I love it from the beginning to the end”</p>
                <img src="./images/quotes.svg" alt="quotes svg">
                <h4>Layo Omotolani</h4>
                <p>Reader</p>
            </div>
            <div>
                <h2 class="universal-h2 universal-h2-bckg">What People Are Saying 2</h2>
                <p>“I love the ending author Jules each one gets his/her fair share Beautiful story. Thank You.”</p>
                <img src="./images/quotes.svg" alt="quotes svg">
                <h4>Terry Guevarra</h4>
                <p>Reader</p>
            </div>
            <div>
                <h2 class="universal-h2 universal-h2-bckg">What People Are Saying 3</h2>
                <p>“Wow what a Beautiful story it was... Will be looking forward to the new one. Amazing work dear author”</p>
                <img src="./images/quotes.svg" alt="quotes svg">
                <h4>Shilpa Bhattacharjee</h4>
                <p>Reader</p>
            </div>
            <div>
                <h2 class="universal-h2 universal-h2-bckg">What People Are Saying 4</h2>
                <p>“Amazing story congratulations you will achieve what your heart desires.”</p>
                <img src="./images/quotes.svg" alt="quotes svg">
                <h4>Terry Guevarra</h4>
                <p>Reader</p>
            </div>
            <div>
                <h2 class="universal-h2 universal-h2-bckg">What People Are Saying 5<h2>
                <p>“That was a good story. New story plot seems to be good”</p>
                <img src="./images/quotes.svg" alt="quotes svg">
                <h4>Terry Guevarra</h4>
                <p>Reader</p>
            </div>
        </div>
    </div>
</section>
<!-- Quotes end -->